/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "./actiontext.scss";



 .navbar{
     background-color: #1DA1F2;
     a{
     color: #fff;
     }
    .navbar-toggler-icon{
     }
 }


.card-index{
    .card-header{
     background-color: #1DA1F2;
     color: #fff;
    }
    .card-footer{
        background-color: #fff;
    }

    }

.card-trends{
    .card-header{
        background-color: #1DA1F2;
     color: #fff;

       }
}
.card-index-tweets{
    border-radius: 15px;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    &:hover{
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    }

}
.card-user{
    border-radius: 12px;
    height: 60px;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
&:hover{
box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
}
.user-image-dash{
    img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

    }
}
.user-image{
    img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    }
}
.user-image-tweeet{
    img{
    width: 65px;
    height: 65px;
    border-radius: 50%;

    }
}
.search-user-image{
    img{
        width: 70%;
        border-radius: 20px;
        background-position: center;
    }
}
.tweeet-image{
    img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    }
}